# Archivos de sistema y dependencias
node_modules/
.DS_Store

# Archivos de secretos y entorno (LO IMPORTANTE)
.env
firebase-key.json
serviceAccountKey.json
*.log

# Backups y scripts de mantenimiento (no necesarios en producción)
backups/
backup-firestore.js
verificar-colecciones.js
eliminar-colecciones.js